@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.card {
  border-radius: 20px;
  background: #F7F7F7;
  color: #0d1318;
  position: relative;
  padding: 16px;
  text-align: center;
  border: 2px solid #c3c6ce;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}
.bottom_aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom !important;
  width: 0px;
}
.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.nopd {
  padding-bottom: 0px !important;
}
.footer-content {
  height: 20% !important;
  display: flex !important;
  align-items: flex-end !important;
  text-align: right !important;
  width: 100% !important;
  box-sizing: content-box;
  background-color: #fff !important;
}
 .footer-content div {
  font-weight: 500;
  width: 100%;
  text-transform: capitalize;
  text-align:right !important} 

.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 10px;
  height: 100%;

}

#item-0 {

  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 2;

}

#item-1 {


  grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 2;

}

#item-2 {
  grid-row-start: 1;
  grid-column-start: 3;

  grid-row-end: 2;
  grid-column-end: 4;

}

#item-3 {

  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;

}

#item-4 {
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;

}

#item-5 {
  grid-row-start: 1;
  grid-column-start: 5;

  grid-row-end: 3;
  grid-column-end: 5;
  align-items: center;
  height: 148%;

}

#item-6 {

  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 5;
}


@media (max-width: 767px){
  .angry-grid {
   grid-template-rows: 4rem auto 45px auto;
   grid-template-columns: 16rem auto;
  column-gap: 5px;
  row-gap: 5px;
  }
  #item-1 {
    grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 1;
  grid-column-end: 1;
  }
  #item-2 {
    grid-row-start: 1;
  grid-column-start: 2;

  grid-row-end: 2;
  grid-column-end: 2;
  }
  #item-3 {

    grid-row-start: 2;
    grid-column-start: 1;
  
    grid-row-end: 2;
    grid-column-end: 1;
  
  }
  #item-4 {
    grid-row-start: 2;
    grid-column-start: 2;
  
    grid-row-end: 2;
    grid-column-end: 2;
  
  }
  #item-5 {
    grid-row-start: 3;
    grid-column-start: 1;
    width:140%;
    grid-row-end: 3;
    grid-column-end: 2;
  }
  .daily {
    width: 100%;
  }
  }


.daily {
  height: 100%
}
* {
  font-family: 'Poppins', 'sans-serif' !important;
}

:root {
  --topbar-color: #F7F7F7;
  --sidebar-bg-color: #F7F7F7;
  --sidebar-color: #6844ce;
  --sidebar-link-color:rgb(15, 13, 13);
}
.topbar {
  background-color: var(--topbar-color) !important;
}

section[data-css="sidebar"] {
  background-color: var(--sidebar-bg-color) !important;
  color: var(--sidebar-color);
  border: none;
  font-family: 'Poppins', 'sans-serif' !important;
}

section[data-css="sidebar"] svg {
  fill: var(--sidebar-color) !important;
}

a[data-css="sidebar-logo"] {
  background-color: var(--sidebar-bg-color) !important;
}

section[data-css="sidebar-resources"] {
  background: var(--sidebar-bg-color) !important;
}

[data-css="sidebar"] section a {
  background: var(--sidebar-bg-color) !important;
  color: var(--sidebar-color);
}

[data-css="sidebar"] a:hover {
  color: var(--sidebar-link-color);
}

@media (min-width: 1326px) {
  a[title="Sidebar"] span{
    display:none !important;
    visibility:hidden !important;
  }

}
